body, * {
    margin: 0.5rem;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
table th {
    background: lightpink;
}
table td{
    border: 1px solid lightgray;
}

/* .form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
} */